@use "../abstracts/" as *;
@use "../utils/" as *;
.genre-bubble {
  min-height: 2em;
  border-radius: 35px;
  color: white;
  background-color: $bubble-clr;
  padding:0.8em;
  display: grid;
  place-items: center;
  text-align: center;
  cursor: pointer;
  &:hover {
    background-color: $light-blue;
  }
  span {
    text-transform: uppercase;
    font-size: 1rem;
  }
}
