@use "../abstracts/" as *;
@use "../utils/" as *;
.navbar {
  width: 100vw;
  display: flex;
  align-items: center;
  background-color: $nav-clr--light;
  box-shadow: 0 0 1em 0 rgb(167, 167, 167);
  padding: 1em 1.5em;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
  h1 {
    margin-right: auto;
    color: $dark-blue;
  }

  svg {
    font-size: 1.2rem;
  }
  ul {
    background-color: $nav-clr--light;
    position: absolute;
    top: -400%;
    right: 0;
    left: 0;
    border-top: 1px solid rgb(185, 185, 185);
    padding: 2.5em 1.5em 1em 1.5em;
    z-index: -1;
    &.open {
      top: 100%;
    }
    li {
      margin-bottom: 2em;
      a {
        color: $dark-blue;
        font-size: 1.3rem;
        font-weight: 700;
      }
    }
  }
}
.profile-icon {
  max-width: 3em;
  border-radius: 50%;
  display: none;
}

@include breakpoint("medium") {
  .navbar {
    padding: 1em 5em;
    svg {
      display: none;
    }
    ul {
      border: none;
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 0;
      margin-right: 2em;
      li {
        margin-bottom: 0;
        &:not(:last-child) {
          margin-right: 2em;
        }
        a {
          font-size: 1.2rem;
          &:hover {
            border-bottom: 2px solid $dark-blue;
          }
        }
      }
    }
  }
  .profile-icon {
    display: block;
  }
}
