@use "../abstracts/" as *;
@use "../utils/" as *;
.navbar {
  width: 100vw;
  display: flex;
  align-items: center;
  background-color: $nav-clr--light;
  box-shadow: 0 0 1em 0 rgb(167, 167, 167);
  padding: 1em 1.5em;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9;
  h1 {
    margin-right: auto;
    color: $dark-blue;
  }
  a {
    font-size: 1.2rem;

    color: $dark-blue;
    font-weight: 700;
    display: none;
    &:not(:last-child) {
      margin-right: 2em;
    }
    &:hover {
      text-decoration: underline 3px;
    }
  }
  svg {
    font-size: 1.2rem;
  }
}

@include breakpoint("medium") {
  .navbar {
    padding: 1em 5em;
    svg {
      display: none;
    }
    a {
      display: block;
    }
  }
}
