$white: white;
$black: black;
$background-clr: #99a2c5;
$nav-clr--light: rgb(248, 248, 248);
$dark-purple: #1e0255;
$neon-red: #d22730;
$neon-green: #39ff14;
$neon-pink: #bd00ff;
$nav-btn-clr: #8496a7;
$light-purple: #764ced;
$green: rgb(2, 177, 2);
