$white: white;
$black: black;
$background-clr: #99a2c5;
$nav-clr--light: rgb(248, 248, 248);
$dark-purple: #1e0255;
$dark-blue: rgb(2, 2, 41);
$spotify-green: #1db954;
$playlist-card-clr--light1: rgb(93, 104, 151);
$playlist-card-clr--light2: rgb(110, 120, 170);
