@use "../abstracts/" as *;
@use "../utils/" as *;
.rec__content {
  padding-top: 7em;
  padding-bottom: 15em;
  width: 80%;
  margin: 0 auto;

  h1 {
    font-size: 1.8rem;
    margin-bottom: 1em;
    text-align: center;
  }
  & > p {
    font-size: 1.4rem;
    margin-bottom: 1em;
  }
}
.selected-div {
  display: flex;
  align-items: center;
  margin-bottom: 1em;
  width: 100%;
  border: 1px solid $light-blue;
  border-radius: 8px;
  padding: 2em 0.8em;
  p {
    font-size: 1.2rem;

    margin-right: 1em;
  }
  span {
    font-size: 1.1rem;
  }
}
.genre-container {
  display: flex;
  justify-content: space-around;
  gap: 0.3em;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: 2em;
}
.search-container {
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2em;
}
.selection-container {
  display: flex;
  flex-wrap: wrap;
  gap: 1em;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 2em;
  p {
    font-weight: bold;
    text-decoration: underline;
  }
}
.results-container {
  // background-color: $light-blue;
}
.search {
  position: relative;
  width: 100%;
  margin-bottom: 1em;
  label {
    font-size: 1.2rem;
    margin-bottom: 0.6em;
    svg {
      color: $light-blue;
      margin-right: 0.8em;
      font-size: 1.4rem;
    }
  }
}
.data-results {
  position: absolute;
  bottom: -100;
  left: 0;
  right: 0;
  max-height: 15em;
  background-color: $light-blue;
  color: white;
  overflow-y: scroll;
  z-index: 9;
}
.result-item {
  padding: 0.7em;
  width: 100%;
  font-size: 1.2rem;
  cursor: pointer;
  display: flex;
  align-items: center;
  img {
    max-width: 3em;
    margin-right: 1em;
  }
  p {
    margin-bottom: 0;
    font-size: 1.1rem;
  }
  &:hover {
    border: 1px solid $dark-blue;
  }
}
.selected-display {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  margin-bottom: 3em;
  & > p {
    text-align: center;
    font-size: 1.3rem;
    margin-bottom: .5em;
  }
}
.recommend-btn {
  border: 2px solid $light-blue;
  color: $light-blue;
  padding: 1em;
  border-radius: 12px;
  max-width: 10em;
  font-size: 1.2rem;
  margin: 0 auto;
  margin-bottom: 1em;
  font-weight: bold;
  transition: all 0.4s ease;
  &:hover {
    background-color: $light-blue;
    color: $white;
  }
}
#genre-menu {
  height: 25em;
  width: 12em;
}
#genre-btn {
  background-color: $light-blue;
  padding: 1em;
  color: white;
  width: 100%;
  max-width: 20em;
  svg {
    font-size: 1.4rem;
  }
  span {
    margin-left: 1em;
  }
  .fa-angle-down {
    margin-left: 1em;
    font-size: 1.1rem;
  }
}
.genre-item {
  text-transform: capitalize;
  font-size: 1.1rem;
}
.genre-bubble-container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-top: 0.5em;
  gap: 1em;
}
@include breakpoint("small") {
  .rec__content {
    h1 {
      text-align: left;
    }
  }
  .search--songs,
  .search--artists {
    width: 48%;
  }
  .search-container {
    display: flex;
  }
  // .selection-container {
  //   flex-wrap: wrap;
  //   flex-direction: row;
  // }
  // .selected-div {
  //   flex-direction: column;
  //   max-width: 22em;
  // }
}
@include breakpoint("medium") {
  .selection-container {
    flex-wrap: wrap;
    flex-direction: row;
  }
  .selected-div {
    flex-direction: column;
    width: 48%;
    p {
      margin-bottom: 0.7em;
      margin-right: 0;
    }
    // max-width: 20em;
  }
}
@include breakpoint("large") {
  .selected-div {
    flex-direction: column;
    width: 32%;
    // max-width: 20em;
  }
}
